@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}
.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  font-weight: bold;
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.home-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.home-img {
  flex-shrink: 0;
  margin-left: 240px;
}
.home-img img {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  border: 0.5rem solid var(--main-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  object-fit: cover;
  animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
span {
  color: var(--main-color);
}
.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content p {
  font-size: 1.6rem;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5 ease;
}
.btn:hover {
  box-shadow: none;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}
.about {
  justify-content: center;
  align-items: center;
  background: var(--second-bg-color);
}
.cv-container {
  display: flex;
  align-items: flex-start;
  min-height: 600px;
  width: 100%;
  margin: 40px auto;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.left-column {
  width: 35%;
  background-color: var(--text-color);
  padding: 20px;
  color: var(--second-bg-color);
  border-radius: 50px;
}
.left-column h2 {
  position: relative;
  padding-left: 30px;
  margin-top: 0;
}
.left-column h2:before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  color: var(--main-color);
  font-size: 1.2em;
}
.right-column {
  height: 500px;
  overflow-y: auto;
  width: 65%;
  padding: 10px;
  overflow: visible;
}
.right-column h2 {
  position: relative;
  padding-left: 10px;
}

.right-column h2:before {
  content: "•";
  position: absolute;
  left: -15px;
  top: 0;
  color: var(--main-color);
  font-size: 1.2em;
}
.right-column p {
  margin-left: 20px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.profile-pic {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  overflow: hidden;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.education h2,
.work-experience h2,
.contact-info h2,
.skills h2,
.hobbies h2 {
  font-size: 2.5rem;
  color: var(--main-color);
}

.name-title {
  margin-top: 10px;
}
.name-title h1 {
  margin: 0;
  margin-left: 40px;
  font-size: 5rem;
  color: var(--main-color);
}
.name-title h3 {
  padding-left: 90px;
  font-size: 2rem;
  color: var(--bg-color);
  position: relative;
  margin-bottom: 25px;
}

ul {
  list-style: none;
  padding: 0;
}

.skills ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  font-size: 1.5rem;
}

.skills ul li .stars {
  display: inline-block;
  font-size: 20px;
  color: var(--second-bg-color);
}

.skills ul li span {
  margin-right: 20%;
}
.skills,
.hobbies {
  margin-top: 10px;
  margin-left: 50px;
}
.hobbies ol {
  padding-left: 40px;
}

.hobbies ol li {
  margin-left: 0;

  font-size: 1.5rem;
}
.education {
  margin-top: 30px;
  margin-left: 40px;
}
.education p {
  font-size: 1.5rem;
}

.work-experience {
  margin-top: 30px;
  margin-left: 40px;
}
.work-experience p {
  font-size: 1.5rem;
}
.contact-info {
  margin-top: 30px;
  margin-left: 40px;
}
.contact-info p {
  font-size: 1.5rem;
}
.contact-info i {
  color: var(--main-color);
  font-size: 2rem;
  margin-right: 10px;
  margin-top: 10px;
}

.lab h2 {
  margin-bottom: 5rem;
}
.lab-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.grid-item {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5 ease;
}
.grid-item h1 {
  font-weight: 700;
  line-height: 1.3;
}
.lab {
  background: var(--bg-color);
}
.lab h2 {
  margin-bottom: 4rem;
}
.lab-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.lab-container .lab-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}
.lab-box img {
  width: 100%;
  transition: 0.5s ease;
}
.lab-box:hover img {
  transform: scale(1.1);
}
.lab-box .lab-player {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.lab-box:hover .lab-player {
  transform: translateY(0);
}
.lab-player h4 {
  font-size: 3rem;
}
.lab-player p {
  font-size: 1rem;
  margin: 0.3rem 0 1 rem;
}
.lab-player a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}
.lab-player a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}
.contact h2 {
  margin-bottom: 3rem;
}
.contact {
  background: var(--second-bg-color);
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}
.contact form .input-box input {
  width: 49%;
}
.contact form textarea {
  resize: none;
}
.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--bg-color);
}
.footer-text p {
  font-size: 1.6rem;
}
.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}
.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .lab {
    padding-bottom: 7rem;
  }
  .contact {
    min-height: auto;
  }
  .footer {
    padding: 2rem 3%;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-img img {
    width: 40%;
    height: auto;
    margin-top: 4rem;
  }
  .home-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home-img {
    margin-left: 0;
    margin-top: 20px;
  }

  .home-content {
    padding: 0 15px;
  }
  .social-media {
    margin-top: 15px;
  }
  .cv-container {
    flex-direction: column;
    min-height: auto;
  }

  .left-column {
    width: 100%;
  }
  .right-column {
    width: 100%;
    margin-top: 0;
    margin-bottom: 60px;
  }
  .name-title {
    margin-top: 5px;
    order: 1;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
  }

  .name-title h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-left: 0;
  }

  .name-title h3 {
    font-size: 1.6rem;
    padding-left: 0;
    text-align: center;
  }

  .skills ul li,
  .hobbies ol li {
    padding: 10px 0;
  }
  .contact-info {
    margin-top: 0;
  }
  .lab h2 {
    margin-bottom: 3rem;
  }
  .lab-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 617px) {
  .lab-container {
    grid-template-columns: 1fr;
  }
  .home-content p {
    font-size: 1.8rem;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact form .input-box input {
    width: 100%;
  }
}
@media (max-width: 365px) {
  .home-img img {
    width: 90vw;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
/* login */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  color: var(--bg-color);
  font-size: 2rem;
}

/* Modal content */

h1 {
  font-weight: 700;
  letter-spacing: -1.5px;
  margin: 0;
  margin-bottom: 15px;
}
h1.title {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  text-shadow: 0 0 10px rgb(16, 64, 74, 0.5);
}
.overlay-right p,
.overlay-left p {
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  text-shadow: 0 0 10px rgb(16, 64, 74, 0.5);
}
.register-container span,
.login-container span {
  font-size: 14px;
  margin-top: 15px;
  color: var(--second-bg-color);
}
.login-container a {
  color: var(--main-color);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  transition: 0.3s ease-in-out;
}

.content {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}
.content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content input {
  accent-color: #333;
  width: 12px;
  height: 12px;
}
.content label {
  font-size: 14px;
  user-select: none;
  padding-top: 5px;
  padding-left: 5px;
  white-space: nowrap;
}
.register-container button,
.login-container button,
button.ghost {
  position: relative;
  border-radius: 20px;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  color: var(--text-color);
  font-size: 15px;
  font-weight: 700;
  margin: 10px;
  padding: 12px 80px;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}
button:hover {
  letter-spacing: 3px;
}
button:active {
  transform: scale(0.95);
}
button:focus {
  outline: none;
}
button.ghost {
  background: rgb(225, 225, 225, 0.2);
  border: 2px solid #fff;
  color: #fff;
}
button.ghost i {
  position: absolute;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
button#register i {
  right: 50px;
  top: 15px;
  font-size: 2rem;
}
button#login i {
  left: 50px;
  top: 15px;
  font-size: 2rem;
}
button#register:hover i {
  right: 20px;
  opacity: 1;
}
button#login:hover i {
  left: 20px;
  opacity: 1;
}
.register-container form,
.login-container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
.register-container input,
.login-container input {
  background-color: #eee;
  border-radius: 10px;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.container {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 14px 28px rgba(0, 64, 74, 0.5), 0 10px 10px rgb(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 500px;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.container.right-panel-active .login-container {
  transform: translateX(100%);
}
.register-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.container.right-panel-active .register-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.overlay {
  background-image: url('/assets/img/img.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(46, 94, 109, 0.4) 40%,
    rgba(46, 94, 109, 0)
  );
}
.container.right-panel-active .overlay {
  transform: translateX(50%);
}
.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.overlay-left {
  transform: translateX(-20%);
}
.container.right-panel-active .overlay-left {
  transform: translateX(0);
}
.overlay-right {
  right: 0;
  transform: translateX(0);
}
.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}
.social-container {
  margin-top: 20px 0;
}
.social-container a {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  height: 40px;
  width: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  color: var(--main-color);
  transition: 0.5s ease;
  font-size: 17px;
}
.social-container a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}
@media (max-width: 617px) {
  .container {
    width: 368px;
    max-width: 900%;
    min-height: 300px;
  }

  h1.title {
    font-size: 20px;
    line-height: 25px;
    white-space: nowrap;
  }
  .register-container span,
  .login-container span {
    margin-top: 0px;
    font-size: 10px;
    white-space: nowrap;
  }
  .overlay-right p,
  .overlay-left p {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    margin: 10px 0 10px;
    width: 150%;
  }
  .login-container a {
    font-size: 9px;
    margin-left: 5px;
    white-space: nowrap;
  }
  .register-container button,
  .login-container button,
  button.ghost {
    font-size: 10px;
    font-weight: 700;
    margin: 10px;
    padding: 6px 30px;
    letter-spacing: 2px;
  }
  .content input {
    width: 10px;
    height: 10px;
  }
  .content label {
    font-size: 9px;
    padding-top: 0;
  }

  .register-container input,
  .login-container input {
    padding: 5px 10px;
    margin: 2px 0;
    width: 200%;
  }
  .register-container form,
  .login-container form {
    padding: 0 50px;
    height: 100%;
  }
  .social-container {
    width: 150%;
  }
  .social-container a {
    margin: 10px 1px;
    height: 30px;
    width: 30px;
    font-size: 20px;
  }
  h1 {
    font-weight: 700;
    letter-spacing: -1.5px;
    margin: 0;
  }
  .modal {
    font-size: 1.5rem;
  }
  .content {
    width: 200%;
    height: 30px;
  }
  button#register i {
    left: 90px;
    top: 5px;
  }
  button#login i {
    left: 10px;
    top: 5px;
  }
  button#register:hover i {
    right: -8px;
  }
  button#login:hover i {
    left: 5px;
  }
  button:hover {
    letter-spacing: 4px;
  }
}
